/include/ "system-conf.dtsi"
/ {

		memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		reservedmemory0: reservedmemory0@0x01000000{
												no-map;
												reg = <0x01000000 0x800000>;
											};
		reservedmemory1: reservedmemory0@0x02000000{
												no-map;
												reg = <0x02000000 0x800000>;
											};
	};

	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rw rootwait cma=15M coherent_pool=4M";
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	cpus {
		cpu@0 {
			operating-points = <666667 1000000 333334 1000000 166667 1000000 83334 1000000 41667 1000000>;
		};
	};
};

&usb0 {	
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&amba_pl {

	dma@43000000 {
		compatible = "vdma_control_driver";	
		reg = <0x43000000 0x10000>, <0x01000000 0x800000>;
		interrupts = <0 31 4>;
		memory-region = <&reservedmemory0>;
	};
	
	l298n {
		compatible = "l298n";
		motor_ctrl_0-gpios = <&gpio0 66 0>;	
		motor_ctrl_1-gpios = <&gpio0 67 0>;
		motor_ctrl_2-gpios = <&gpio0 68 0>;
		motor_ctrl_3-gpios = <&gpio0 69 0>;
	};

	axi_timer {
		compatible = "axi_timer_pwm";	
		reg = <0x42800000 0x10000>, <0x42810000 0x10000>, <0x42830000 0x10000>, <0x42820000 0x10000>;
		reset-0-gpios = <&gpio0 62 0>;
		reset-1-gpios = <&gpio0 64 0>;
		reset-2-gpios = <&gpio0 65 0>;
		reset-3-gpios = <&gpio0 63 0>;
		clock-frequency = <100000000>;
		pwm-frequency = <500>;
	};

	mailbox@43800000 {
		compatible = "axi_mailbox";
		interrupt-names = "interrupt";
		interrupt-parent = <0x04>;
		interrupts = <0 32 4>;
	};

};


&amba {

	hcsr04 {
		compatible = "hcsr04";
		echo_hcsr04_1-gpios = <&gpio0 12 0>;
		trig_hcsr04_1-gpios = <&gpio0 15 0>;
		
		echo_hcsr04_2-gpios = <&gpio0 14 0>;
		trig_hcsr04_2-gpios = <&gpio0 13 0>;

		echo_hcsr04_3-gpios = <&gpio0 9 0>;
		trig_hcsr04_3-gpios = <&gpio0 0 0>;
	};

	buttons {
		compatible = "buttons";
		interrupt-names = "interrupt";
		interrupt-parent = <0x04>;
		interrupts = <0 33 4>, <0 34 4>, <0 35 4>, <0 36 4>;
	};
	
	i2c@e0004000 {
		status = "okay";
		clock-frequency = <100000>;
		
		i2c@0 {
			reg = <0>;
			ov7670@0x21 {
				compatible = "ov7670";
				reg = <0x21>;
			};
			HMC5883L@0x1E {
				compatible = "HMC5883L";
				reg = <0x1E>;
			};
		};
	};
	

	slcr@f8000000 {
		pinctrl@700 {
			pinctrl_sensor_power: sensor_power {
				function = "gpio0";
				bias-disable;
			};

			pinctrl_sensor_reset: sensor_reset {
				function = "gpio0";
				bias-disable;
			};
		};
	};

};	







