#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
#########
#Files needed 
#to build the 
#project
#########
!smartnav-vivado.tcl
!smartnav-vivado.srcs/sources_1/bd/design_1/hdl/design_1_wrapper.v
!smartnav-vivado.sdk/led_blinky/Release/led_blinky.elf
!smartnav-vivado.sdk/encoder/Debug/encoder.elf
!smartnav-vivado.srcs/constrs_1/new/board.xdc
