# Ignore all 
/*
.*


# Unignore all with this directories:

!/SqueezeDetFromScratch/
!/SqueezeDetTraining/
!/SqueezeDetTraining/imagenes/*
!/imagenes/


# Unignore all with extensions

!*.c
!*.py
!*.md
!*.png
!*.vhd
!*.v
!/.gitignore
!*.xdc
